img {
  float: right;
  width: 50%;
  height: 100%;
  object-fit: cover;
  float: right;
  position: relative;
  bottom: 100px;
}

h2 {
  padding-bottom: 50px;
  font-family: "poppins", sans-serif;
  font-size: 90px;
  font-weight: 500;
  line-height: 102px;
  letter-spacing: -2px;
}

p {
  max-width: 410px;
  min-height: 98px;
  font-family: $font-fam, sans-serif;
  font-size: 22px;
  line-height: 33px;
}

.recipe-content {
  max-width: 416px;
  width: 100px;
  min-height: 246px;
  width: 100%;
  position: relative;
  top: 100px;
  left: 100px;
}
