img {
  float: right;
  position: relative;
  bottom: 100px;
  right: 100px;
}

h2 {
  font-size: 90px;
  font-weight: 500;
  line-height: 102px;
  letter-spacing: -2px;
}

p {
  max-width: 410px;
  min-height: 98px;
  font-size: 22px;
}

.recipe-content {
  position: relative;
  top: 100px;
  left: 100px;
}
